.git
.venv
__pycache__
**/__pycache__
*.pyc
build
dist
installer_output
backups
despachante.db
despachante.db-shm
despachante.db-wal
secret.key
local_dados.cfg
rede_local.flag
.env
app/static/uploads/documentos/*
!app/static/uploads/documentos/.gitkeep
app/static/uploads/logo/*
!app/static/uploads/logo/.gitkeep
